.UserInfo {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    /* overflow: hidden; */
}

.UserInfo .userProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.UserInfo .userProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.UserInfo .userInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
}

.UserInfo .userName {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2px;
    color: #C1C1C1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.UserInfo .userDetails {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    color: #c1c1c1;
}

.UserInfo .userTime {
    /* display: flex; */
    align-items: center;
    /* gap: 2px; */
    white-space: nowrap;
}

.UserInfo .userTime i {
    font-size: 11px;
}

.UserInfo .userLevel {
    display: flex;
    align-items: center;
    gap: 2px;
}

.UserInfo .userLevel img {
    width: 12px;
    height: auto;
}