#footer {
    color: #fff;
    padding: 96px 0;
    width: 100%;
}

#footer .inner {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 상단 영역 배치 */
#footer .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

/* 로고 영역 (h2) */

.top .left h2 img {
    width: 109px;
    height: 93px;
}

/* 중앙 설명 및 정보 영역 (h3, p) */
.top .center {
    width: 660px;
}

.top .center h3 {
    font-size: 27px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 400;
    color: #A3A3A3;
}

.top .info {
    display: flex;
    flex-wrap: wrap;
    width: 500px;

}

.top .info p {
    font-size: 14px;
    color: #A3A3A3;
    padding-right: 20px;
}

/* 상단 우측 링크 영역 (p) */
.top .right {
    display: flex;
    gap: 64px;
    width: 350px;
    justify-content: flex-end;
}

.top .right p a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
}

/* 하단 영역 (구분선 및 카피라이트) */
#footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* 얇은 구분선 */
    padding-top: 72px;
}

#footer .bottom .left p {
    font-size: 14px;
    color: #ffffff;
}

#footer .bottom .right {
    display: flex;
    gap: 60px;
}

#footer .bottom .right p a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap
}