.GenreTab {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 12px 0;
}

.genreItem {
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 0;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 32px;
}

.genreItem:hover {
    color: #7EFF50;
}

.genreItem.active {
    color: #7EFF50;
}

.genreItem.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7EFF50;
}