.Recommend {
    padding-top: 127px;
}

.recomItemWrapper {
    padding-top: 32px;
    width: 100%;
    overflow: visible;
    position: relative;
}

.recomItemWrapper a {
    text-decoration: none;
    outline: none;
}

.mySwiper {
    overflow: visible !important;
    width: 100%;
}

.swiper-slide {
    background: none;
    text-align: left;
}

.recomItem {
    width: 582px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    overflow: hidden;
    height: 100%;
}

.recomItem .recomItemUp {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.recomItem img {
    width: 100%;
    height: 475px;

    object-fit: cover;
    display: block;
}

.recomItem .recomItemVisualInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75.31%, #000 100%);
}

.recomItem .recomItemVisualInfo .recomRate {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    opacity: 0.67;
    display: flex;
    gap: 5px;
}

.recomItem .recomItemVisualInfo .recomRate span {
    font-size: 18px;
}

.recomItem .recomItemInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 34px 31px;
    justify-content: left;
}

.recomItem .recomItemInfo .gameTitle {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -0.68px;

    gap: 8px;
}

.recomItem .recomItemInfo .gameDesc {
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
}

.recomItem .recomItemInfo .genreChip {
    display: flex;
    gap: 8px;
}

.recomItem .recomItemInfo .chip {
    display: inline-flex;
    height: 20px;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: rgba(235, 235, 235, 0.14);
    backdrop-filter: blur(2px);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
